/* header {
  position: sticky;
  top: 0;
  z-index: 9999;
} */

.header-container {
  background-color: #131921;
  color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  padding-left: 13px;
  padding-right: 8px;
  margin: 0;
  border: 1px solid transparent;
}

.logo:hover {
  cursor: pointer;
  border: 1px solid #ffff;
}

.logo img {
  width: auto;
  height: 65%;
  object-fit: contain;
}

.location {
  display: flex;
  height: 50px;
  width: 80px;
  padding: 0 2px;
  border: 1px solid transparent;
}

.location:hover {
  cursor: pointer;
  border: 1px solid #ffff;
}

.location-pin {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.location-pin a {
  font-size: 0.8rem;
}

.delivery {
  margin-top: 2px;
  padding: 5px;
  line-height: 0.8;
}

#deliver-to {
  font-size: 11px;
  font-weight: 500;
  color: #e7e7e7cc;
}

#belgium {
  font-size: 13px;
  font-weight: 600;
}

/* Search bar */

.search-bar {
  display: flex;
  flex-direction: row;
  height: 38px;
  min-width: 477px;
  flex-grow: 1;
  padding: 1px;
  justify-content: space-between;
}

.search-bar-left {
  display: flex;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 0 11px;
  background-color: #e6e6e6;
  color: #535353;
  font-size: 11px;
  height: 36px;
  width: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid transparent;
}

.search-bar-left:hover {
  cursor: pointer;
}

#search-bar-all {
  padding-right: 5px;
}

#search-amazon {
  display: flex;
  min-width: 344px;
  flex-grow: 1;
  border: 0;
  border-left: 0.5px solid #acacac;
  padding-left: 10px;
}

#search-amazon::placeholder {
  padding-left: 5px;
  font-weight: 500;
}

#search-amazon:focus {
  outline: none;
}

.search-button {
  display: flex;
  background-color: #febd69;
  color: #131921;
  width: 45px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  cursor: pointer;
  background-color: #fcac44;
}

/* Right part of header */

.header-right {
  display: flex;
  margin-left: auto;
  padding-right: 15px;
  width: 345px;
}

.language {
  display: flex;
  flex-direction: row;
  width: 50px;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 15px;
  align-items: center;
  border: 1px solid transparent;
}

.language:hover {
  cursor: pointer;
  border: 1px solid #ffff;
}

.language span {
  padding-right: 4px;
}

.language img {
  width: 20px;
  height: 17px;
  object-fit: contain;
  padding-right: 5px;
}

.header-right .fa-caret-down {
  font-size: 10px;
  color: #8a8a8a;
  padding-top: 5px;
}

.hello-sign-in {
  display: flex;
  flex-direction: column;
  width: 107px;
  padding: 8px;
  line-height: 0.7;
  justify-content: center;
  border: 1px solid transparent;
}

.hello-sign-in:hover {
  cursor: pointer;
  border: 1px solid #ffff;
}

.hello {
  font-size: 11px;
}

.account-lists {
  font-size: 12px;
  font-weight: 600;
}

.return-orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  padding: 8px 0 8px 4px;
  border: 1px solid transparent;
}

.return-orders:hover {
  cursor: pointer;
  border: 1px solid #ffff;
}

.cart {
  display: flex;
  width: 60px;
  padding-top: 10px;
  padding-right: 10px;
  justify-content: center;
  border: 1px solid transparent;
}

.cart:hover {
  cursor: pointer;
  border: 1px solid #ffff;
}

.cart img {
  object-fit: contain;
  width: 38px;
  height: auto;
}

#cart-number {
  position: relative;
  left: 26px;
  top: -5px;
  color: #d87f0b;
  font-weight: 600;
  font-size: 1rem;
}

#cart-word {
  font-size: 12px;
  font-weight: 600;
  padding-top: 14px;
  margin-left: -5px;
}

/* Nav bar */

.navbar-container {
  display: flex;
  background-color: #232f3e;
  color: #ffff;
  font-size: 12px;
  font-family: Arial, sans-serif;
  height: 39px;
  width: 100%;
  align-items: center;
}

.navbar-container a {
  text-decoration: none;
  color: #ffff;
  padding: 10px 5px;
  border: 1px solid transparent;
}

.navbar-container a:hover {
  cursor: pointer;
  border: 1px solid #ffff;
  overflow: hidden;
}

.navbar-hamburger-menu {
  margin-left: 5px;
  padding: 9px;
  font-weight: 600;
  border: 1px solid transparent;
}

.navbar-hamburger-menu:hover {
  cursor: pointer;
  border: 1px solid #ffff;
}
